# 연산자 학습
1. 숫자 연산

In [1]:
# 연산자 
a = 11; b = 7
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a //b)
print(a % b)
print(a ** b)

18
4
77
1.5714285714285714
1
4
19487171

In [ ]:
#경고! 
c = 0 
print(a / c) #ZeroDivision 에러나는 이유 : 결과값이 무한대이기 때문에

일반 리스트 값 변경

In [1]:
#일반 리스트 값 변경
q = [1,2,3,4,5]
print(q)
print(q[0])
q[0] = 7
print(q)

[1, 2, 3, 4, 5]
1
[7, 2, 3, 4, 5]

In [6]:
#문자열(문자의 배열) 값 변경
greeting = 'hello!'
print(greeting)
print(greeting[0])
# greeting[0] = 'H'  #TypeErroe 예외발생 #지금 여기서 에러가 났기 때문에 주석처리함
print(greeting)   #왜 안돼?? - 문자에다가 값을 변경하는 것은 불가 

new_greeting = 'H' + greeting[1:]
print(new_greeting)

hello!
h
hello!
Hello!

3. 문자열 포맷팅

In [13]:
# 문자열 포맷팅
#'i'm so happy  for you' 하면 문장에는 필수적으로'가 들어가지만 문제가 되는게 i에서 문장에서 끝난다는 것 
# 그 해결책으로 쌍따옴표를 사용한다 "i'm ~~~"
# or ' i\'m ~~~' 역슬래시를 이용해 해결할 수도 있음

# 포맷팅 구식
word1 = 'for'
word2 = 'me'
print(  'i\'m happy {0} {1}'.format('word1', 'word2')  )          #이걸 활용하여 은행에서 기본적인틀을 가지고 각 사람마다의 이름을 불러와서 고지서를 보낼 수 있다
# 포맷팅 신식
name = '성명건'
region = '부산'
print(f'제 이름은 {name}입니다.{region}에 살아요 ')  #f 키워드라는 뜻  **매우 중요 f 꼭 잊지말고 적어줘야 함 안그럼 걍 코딩문자대로 나옴

i'm happy to you
제 이름은 성명건입니다.부산에 살아요

In [19]:
import math
print(math.pi)
print(f'{math.pi:0.2f}')
print('{0:0.4f}'.format)

3.141592653589793
3.14

In [ ]:
#문자열 자르기
orign_Str = '서울특별시 금천구 가산동'
print(orign_str)
print(orign_str.split())

mes_str = 'DEST07'

In [20]:
#문자열 치환
full_name = "Hugo MG Sung"
rep_name = full_name.replace('Hugo MG', 'Ashley')
print(rep_name)

Ashley Sung

In [25]:
#문자열 공백 제거
test = 'hey, FCUK'
sp_test = test.split(',')
sp_test[1] = sp_test[1].replace('~','')
print(sp_test)
sp_test[1] = sp_test[1].replace('~','').strip()
print(sp_test)

['hey', ' FCUK']
['hey', 'FCUK']

In [26]:
print('      Hello      '.lstrip())
print('      Hello      '.rstrip())
print('      Hello      '.strip())
print('      Hello     ~   '.strip()) #문자사이의 공백은 사라지지 않는다!

Hello
      Hello
Hello
Hello     ~

In [31]:
print(test.index('F'))
#print(test.index('q')) #ValueError 예외발생, 없는 단어를 찾으면 에러발생

5

In [32]:
print('hello~' .count('1'))

0

In [33]:
print(full_name.upper()) #모든 단어를 대문자
print(full_name.lower()) #모든 단어를 소문자

HUGO MG SUNG
hugo mg sung

4. 리스트 연산

In [37]:
# 리스트 연산
arr = [1,2,3,4,5]
print(len(arr))
print(arr[4])

print(arr[0] + arr[4])
arr[2] = '3'
print(arr)
print(arr[2] * arr[3]) #문자열은 더하기 빼기 불가능 곱셈,나누기는 가능

print(arr[-1])

5
5
6
[1, 2, '3', 4, 5]
3333
5

In [42]:
arr2 = [1,2, ['Hi', 'MY', 'Friends']]
print(arr2)

print(arr2[2])
print(arr2[2][2])
print(arr2[2][2][0])

[1, 2, ['Hi', 'MY', 'Friends']]
['Hi', 'MY', 'Friends']
Friends
F

In [44]:
print(arr[0:2])
print(arr2[-2:])

[1, 2]
[2, ['Hi', 'MY', 'Friends']]

In [49]:
print(arr2)
del(arr2[2])
print(arr2)

[1, 2, ['Hi', 'MY', 'Friends']]
[1, 2]

In [51]:
#del(arr2)
#print(arr2) NameError 발생 왜냐하면 출력나와야할게 다 지워졌으니까

In [55]:
#리스트 변수 추가
print(arr)
arr.append(9)

[1, 2, '3', 4, 5, 9]

In [66]:
# insert()
arr.insert(3,25)
print(arr) #실행할때마다 값이 계속 추가되는거임

[1, 2, '3', 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 4, 5, 9, 9]

In [70]:
# 정렬
list1 = [1,74,8,4,6,14]
print(list1)

list1.sort() #오름차순 정렬
print(list1)
list1.reverse() #내림차순 정렬
print(list1)

[1, 74, 8, 4, 6, 14]
[1, 4, 6, 8, 14, 74]
[74, 14, 8, 6, 4, 1]

In [71]:
#스택형태 함수
print(list1)
print(list1.pop())
print(list1)

[74, 14, 8, 6, 4, 1]
1
[74, 14, 8, 6, 4]

5. 튜플, 튜플연산

In [73]:
tup1 = (1,2,3,4,5)
print(tup1)

(1, 2, 3, 4, 5)

In [76]:
print(tup1[4])

5

In [78]:
#tup1[0] = 7  #튜블은 새로운 데이터를 추가,변경,삭제가 불가능 (list와 비슷하면서도 다름)

6. 딕셔너리 연산

In [80]:
dic_a = { 1 : 'a'}
print(dic_a)

{1: 'a'}

In [81]:
dic_a[2] = 'b' #앞의 값을 찾으면 연결된 값이 출력된다 
print(dic_a)

{1: 'a', 2: 'b'}

In [87]:
dic_a['name'] = 'Hugo'
print(dic_a)

{1: 'a', 2: 'b', 'name': 'Hugo'}

In [85]:
spider_man = {'name' : 'Peter parker', 'armer': 'Web shooter', 'age': 20}
print(spider_man)

{'name': 'Peter parker', 'armer': 'Web shooter', 'age': 20}

In [86]:
print(spider_man['name'])

Peter parker